<h2>Alteração de nota de texto</h2>
<form method='POST' action='/nota/altera/{{chave}}'>
  <p><label for="chave">Chave</label></p>
  <p><input type='text' name='chave' value="{{chave}}" size="30" readonly /></p>

  <p><label for="titulo">Título</label></p>
  <p><input type='text' name='titulo' value="{{titulo}}" size="60" /></p>

  <p><label for="texto">Texto da Nota</label></p>
  <p><textarea rows="5" cols="57" name='texto'>{{texto}}</textarea></p>

  <button type="submit">Alterar</button>
</form>
