<h1>Sobre o Aplicativo</h1>
<h4>Este é um aplicativo criado com o objetivo de gerenciar notas de texto.</h4>
<p>Ele foi criado na disciplina de Desenvolvimento Back-End I do curso de Pós-Graduação em Especialização em Desenvolvimento FullStack</p>
<p>IF Sudeste MG Campus Manhuaçu</p>
<br><br>
<a href="/">Voltar</a>
